---
layout: site
title: Post Index
---

This is my blog

<h2>Recent Posts</h2>
<table id="posts-table">
{% for post in site.posts limit:20 %}
    <tr>
        <td class="post-date">{{ post.date | date_to_string }} </td>
        <td class="post-info">
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <br />
            <span class="post-tags">
                {% for category in post.categories %}
                    {% if forloop.first %}
                        {{ category }}
                    {% else %}
                        &nbsp;&mdash;&nbsp; {{ category }}
                    {% endif %}
                {% endfor %}
            </span>
        </td>
    </tr>
{% endfor %}
</table>
</ul>
