<ul>
    <li><a href="{{ site.url }}/index.html">Home</a></li>
    <li>
        <a href="{{ site.url }}/allposts.html">All Posts</a>
        <!-- Feedburner Feed. Don't use the atom.xml feed directly -->
        <a href="http://feeds.feedburner.com/afwknight" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
            <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/>
        </a>
        <a href="http://feeds.feedburner.com/afwknight" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
            Atom
        </a>
    </li>
    <li>
        Parrot
        <ul>
            <li><a href="{{ site.url }}/parrot/index.html">Series</a></li>
            <li>
                <a href="{{ site.url }}/parrot/posts.html">Posts</a>
                <!-- Feedburner Feed. Don't use the atom.xml feed directly -->
                <a href="http://feeds.feedburner.com/afwknight-parrot" rel="alternate" type="application/rss+xml">
                    <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/>
                </a>
                <a href="http://feeds.feedburner.com/afwknight-parrot" rel="alternate" type="application/rss+xml">
                    Atom
                </a>
            </li>
            <li><a href="http://whiteknight.github.com/parrot-linear-algebra">Parrot-Linear-Algebra</a></li>
            <li><a href="http://whiteknight.github.com/Rosella">Rosella</a></li>
        </ul>
    </li>
    <li>
        MediaWiki
        <ul>
            <li><a href="http://github.com/Whiteknight/mediawiki-embedvideo">MediaWiki-EmbedVideo</a></li>
            <li><a href="http://github.com/Whiteknight/mediawiki-bookdesigner">MediaWiki-BookDesigner</a></li>
            <li><a href="http://github.com/Whiteknight/mediawiki-peerreview">MediaWiki-PeerReview</a></li>
        </ul>
    </li>
</ul>

