---
layout: site
---

<br />
<span class="post-tags">
    {% for category in page.categories %}
        {% if forloop.first %}
            {{ category }}
        {% else %}
            &nbsp;&mdash;&nbsp; {{ category }}
        {% endif %}
    {% endfor %}
</span>
<br />
<div class="post-content">
    {{ content }}
</div>
<br />
<br />
<h3>Related Posts</h3>
<table id="posts-table">
{% for post in site.related_posts limit:3 %}
    <tr>
        <td class="post-date">{{ post.date | date_to_string }} </td>
        <td class="post-info">
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <br />
            <span class="post-tags">
                {% for category in post.categories %}
                    {% if forloop.first %}
                        {{ category }}
                    {% else %}
                        &nbsp;&mdash;&nbsp; {{ category }}
                    {% endif %}
                {% endfor %}
            </span>
        </td>
    </tr>
{% endfor %}
</table>
<br />
<br />
<div id="disqus_thread"></div>

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'afwknight'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
