<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Whiteknight: {{ page.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/whiteknight.css" type="text/css">
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/syntax.css" type="text/css">
    </head>
    <body>
        <div id="main-title-div" class="widebar">
            <!--<h1 id="main-title"><a href="{{ site.url }}">Whiteknight</a></h1>-->
            <!-- <image src="{{ site.url }}/images/logo.png"/>-->
            <h1>Programming, Software and Code</h1>
            <div id="main-title-snippet">
                <script type="text/javascript">
                    var snippets = new Array();
                    {% include snippets.js %}
                    var idx = Math.floor(Math.random() * snippets.length);
                    document.write(snippets[idx]);
                </script>
            </div>
            <div id="site-notice">
                {% include notice.md %}
            </div>
        </div>
        <div id="main-content">
            <div id="sidebar">
                <div class="sidebar-section">
                    <h3 class="sidebar-heading">About</h3>
                    {% include about.md %}
                </div>
                <div class="sidebar-section">
                    <h3 class="sidebar-heading">Links</h3>
                    {% include links.html %}
                </div>
            </div>
            <div id="content">
                <h2 id="content-title">{{ page.title }}</h2>
                {{ content }}
            </div>
        </div>
        <div id="main-footer" class="widebar">
            {% include footer.md %}
        </div>
        <script type="text/javascript">
            var disqus_shortname = 'afwknight';
            (function () {
              var s = document.createElement('script'); s.async = true;
              s.src = 'http://disqus.com/forums/afwknight/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>
